{
  "root": true,
  "ignorePatterns": [
    "/packages/routra/src/",
    "/packages/routra/bld/",
    "/packages/routra-react/src/",
    "/packages/routra-react/bld/"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  }
}
